# --- Folders (Anywhere in project) ---
**/__pycache__/
**/.venv/
**/.dart_tool/
**/.pub-cache/
**/.pub/
build/
postgres_data/
media/profile_pics

# --- Databases & Local Storage ---
*.db
*.db-journal
*.sqlite3
test.db

# --- Specific Files ---
.env
.DS_Store
*.pyc
.packages

# --- Mobile/OS Specific ---
frontend/ios/.generated/
frontend/macos/Flutter/ephemeral/