POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_DB=database
DATABASE_URL="postgresql://user:password@127.0.0.1:5433/database"
SECRET_KEY=your_secret_key
ALGORITHM=HS256
ALLOWED_ORIGINS=http://localhost:3000,http://127.0.0.1:3000,http://localhost:5000,http://127.0.0.1:5000,http://10.0.2.2:8000,https://robert-vaduva.github.io,https://robert-vaduva.github.io/TaskManagerApp